.form-popup {
     margin: auto;
     width: 40rem;
     border: 2 px solid black;
     padding: 10px;
     display: flex;
     flex-direction: column;
     padding: 2rem;
     /* z-index: 9; */
     background-color: white;

}

.form-container input[type=text],
.form-container input[type=password] {
     width: 100%;
     padding: 15px;
     margin: 5px 0 22px 0;
     border: none;
     background: #f1f1f1;
}




/* 

.btn {
     background-color: #04AA6D;
     color: white;
     padding: 16px 20px;
     border: none;
     cursor: pointer;
     width: 100%;
     margin-bottom: 10px;
     opacity: 0.8;
} */




.testing {
     background-color: white(252, 220, 160);
     position: relative;
     text-align: center;
     text-transform: uppercase;
     border: 1px solid rgba(255, 255, 255, 0.2);
     transition: all 0.2s ease;

}

.testing:before,
.testing:after {
     content: "Log in";
     position: absolute;
     top: 0;
     left: 0;
     padding: 8px 0;
     width: 100%;
     -webkit-clip: rect(0px, 0px, 0px, 0px);
     clip: rect(0px, 0px, 0px, 0px);
     background: #fff;
     color: #000;
}

.testing:before {
     left: -3px;
     top: -2px;
     text-shadow: 2px 0 #fff;
     box-shadow: 2px 0 #fff;
}

.testing:after {
     left: 2px;
     bottom: -2px;
     text-shadow: -1px 0 #fff;
     box-shadow: -1px 0 #fff;
}

.testing:hover {
     background: rgb(251, 215, 137);
     color: black;
}

.testing:hover:before {
     animation: glitch-test 1.5s infinite linear alternate-reverse;
}

.testing:hover:after {
     -webkit-animation: glitch-test 2s infinite linear alternate;
     animation: glitch-test 2s infinite linear alternate;
}

@-webkit-keyframes glitch-test {
     0% {
          clip: rect(-3px, 600px, 0px, 0px);
     }

     5.88235% {
          clip: rect(0px, 600px, 0px, 0px);
     }

     11.76471% {
          clip: rect(-3px, 600px, 0px, 0px);
     }

     17.64706% {
          clip: rect(-3px, 600px, 0px, 0px);
     }

     23.52941% {
          clip: rect(100px, 600px, 100px, 0px);
     }

     29.41176% {
          clip: rect(0px, 600px, 600px, 0px);
     }

     35.29412% {
          clip: rect(100px, 600px, 0px, 0px);
     }

     41.17647% {
          clip: rect(0px, 600px, 600px, 0px);
     }

     47.05882% {
          clip: rect(100px, 600px, 0px, 0px);
     }

     52.94118% {
          clip: rect(-3px, 600px, 0px, 0px);
     }

     58.82353% {
          clip: rect(100px, 450px, 100px, 0px);
     }

     64.70588% {
          clip: rect(0px, 450px, 0px, 0px);
     }

     70.58824% {
          clip: rect(100px, 450px, 100px, 0px);
     }

     76.47059% {
          clip: rect(0px, 450px, 0px, 0px);
     }

     82.35294% {
          clip: rect(0px, 450px, 0px, 0px);
     }

     88.23529% {
          clip: rect(0px, 450px, 0px, 0px);
     }

     94.11765% {
          clip: rect(0px, 450px, 0px, 0px);
     }

     100% {
          clip: rect(0px, 450px, 0px, 0px);
     }
}

@keyframes glitch-test {
     0% {
          clip: rect(-3px, 600px, 0px, 0px);
     }

     5.88235% {
          clip: rect(0px, 600px, 0px, 0px);
     }

     11.76471% {
          clip: rect(-3px, 600px, 0px, 0px);
     }

     17.64706% {
          clip: rect(-3px, 600px, 0px, 0px);
     }

     23.52941% {
          clip: rect(100px, 600px, 100px, 0px);
     }

     29.41176% {
          clip: rect(0px, 600px, 600px, 0px);
     }

     35.29412% {
          clip: rect(100px, 600px, 0px, 0px);
     }

     41.17647% {
          clip: rect(0px, 600px, 600px, 0px);
     }

     47.05882% {
          clip: rect(100px, 600px, 0px, 0px);
     }

     52.94118% {
          clip: rect(-3px, 600px, 0px, 0px);
     }

     58.82353% {
          clip: rect(100px, 450px, 100px, 0px);
     }

     64.70588% {
          clip: rect(0px, 450px, 0px, 0px);
     }

     70.58824% {
          clip: rect(100px, 450px, 100px, 0px);
     }

     76.47059% {
          clip: rect(0px, 450px, 0px, 0px);
     }

     82.35294% {
          clip: rect(0px, 450px, 0px, 0px);
     }

     88.23529% {
          clip: rect(0px, 450px, 0px, 0px);
     }

     94.11765% {
          clip: rect(0px, 450px, 0px, 0px);
     }

     100% {
          clip: rect(0px, 450px, 0px, 0px);
     }
}